/**index.wxss**/
.login-btn {
  position: fixed;
  right: 30rpx;
  bottom: 30rpx;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
}

.logout-btn {
  position: fixed;
  left: 30rpx;
  bottom: 30rpx;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
}
