/**app.wxss**/
page {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  font-size: 32rpx;
  color: #000;
  background: #fff;
  overflow-x: hidden;
  /* -webkit-overflow-scrolling: touch; */
}

/*ui*/
.ui-color-green {
  color: #2ecc71;
}
.ui-color-red {
  color: #e74c3c;
}
.ui-color-b3 {
  color: #34495e;
}
.ui-pl20 {
  padding-right: 20rpx;
}
.ui-left {
  text-align: left;
}
.ui-right {
  text-align: right;
}
.ui-text-small {
  color: #7f7f7f;
  font-size: 28rpx;
}
.ui-center {
  text-align: center;
}
/*nodata*/
.nodata {
  font-size: 28rpx;
  color: #7f7f7f;
  padding: 35rpx 20rpx;
  text-align: center;
}
/*loadmsg,loadmore*/
.loadmsg,
.loadmore {
  visibility: visible;
  color: #7f7f7f;
  font-size: 28rpx;
  padding: 35rpx 20rpx;
}
/*display*/
.hide {
  display: none;
}
.vhide {
  visibility: hidden;
}
/*navigator-hover*/
.navigator-hover {

}
/*wxParse*/
.wxParse.content {
  font-size: 32rpx;
  color: #34495e;
}
/*list-block*/
.list-block-title {
  height: 100rpx;
  line-height: 100rpx;
  font-size: 36rpx;
  color: #34495e;
  background :#f8f8f8;
  padding-left: 20rpx;
  margin-top: 100rpx;
}
.list-block {
  width: 100%;
  background: #fff;
}
.list-block .item-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 140rpx;
  border-bottom: 2rpx solid #f8f8f8;
  padding: 10rpx 0;
}
.list-block .item-content.flex-start {
  align-items: flex-start;
}
.item-content .item-media {
  width: 80rpx;
  padding: 0 30rpx;
}
.item-media image {
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
}
.item-content .item-inner {
  width: 100%;
  margin-left: -140rpx;
  padding-left: 140rpx;
  padding-right: 30rpx;
  overflow-x: hidden;
}
.item-inner .item-title-row {
  display: flex;
  justify-content: space-between;
  color: #7f7f7f;
  font-size: 28rpx;
}
.item-inner .item-title {
  width: 100%;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-inner .item-text {
  width: 100%;
  line-height: 1.5;
}

/*info-block*/
.list-block.info-block {
  background: #34495e;
}
.list-block.info-block .item-content {
  flex-direction: column;
  border-bottom: none;
}
.info-block .item-media {
  width: 150rpx;
}
.info-block .item-media image {
  width: 150rpx;
  height: 150rpx;
}
.info-block .item-content .item-inner {
  margin: 0;
  padding: 0 20rpx;
}
.info-block .item-inner .item-title {
  color: #ebedef;
  text-align: center;
}
.info-block .item-inner .item-title-row {
  padding: 20rpx;
  color: #ebedef;
}
/*swiper-tabs*/
.swiper-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.buttons-tab {
  width: 100%;
  height: 100rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rpx;
}
.buttons-tab .tab-link {
  width: 100%;
  height: 70rpx;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4rpx solid #f2f2f2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.buttons-tab .tab-link.current {
  border-bottom: 4rpx solid #555;
}
.tabs {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.tabs swiper {
  width: 100%;
  min-height: 1000rpx;
}

.tabs swiper .list-block {
  height: 100%;
  overflow: auto;
}
