<!-- 用户信息 -->
<import src="../common/nodata"/>

<template name="userInfo">
    <block wx:if="{{userInfo.loginname !== undefined}}">
      <view class="list-block info-block">
        <view class="item-content">
          <view class="item-media">
            <image mode="aspectFill" src="{{userInfo.avatar_url}}"></image>
          </view>
          <view class="item-inner">
            <view class="item-title">{{userInfo.loginname}}</view>
            <view class="item-title-row">
              <view>注册时间:{{userInfo.create_at}}</view>
              <view>积分:{{userInfo.score}}</view>
            </view>
          </view>
        </view>
      </view>
    </block>
    <block wx:else>
      <template is="nodata" data="{{msg:'没有当前用户信息'}}"/>
    </block>
</template>
