<!--index.wxml-->
<import src="../common/userInfo"/>
<import src="../common/userTopicsList"/>

<view class="container">
  <template is="userInfo" data="{{userInfo}}"/>

  <view class="swiper-tabs">
    <view class="buttons-tab">
      <text class="tab-link {{current === 0 ? 'current' : ''}}" data-current="0" bindtap="tabchange">最近回复</text>
      <text class="tab-link {{current === 1 ? 'current' : ''}}" data-current="1" bindtap="tabchange">最近发布</text>
    </view>
    <view class="tabs">
      <swiper duration="300" current="{{current}}" bindchange="tabchange">
        <swiper-item>
          <template is="userTopicsList" data="{{topics: userInfo.recent_replies}}"/>
        </swiper-item>
        <swiper-item>
          <template is="userTopicsList" data="{{topics: userInfo.recent_topics}}"/>
        </swiper-item>
      </swiper>
    </view>
  </view>

</view>
